body{
    background-color:whitesmoke;
    margin-left: 20px;
    margin-right: 20px;
}
/*표 스타일*/
table{
    /*중복된 테두리 합치기*/
    border-collapse: collapse;
}
thead{

    background : darkgray;
}
td, tfoot th{
    border-bottom : 1px solid;
}
th{
    width : 60px;
    height : 30px;
    text-align:center;
}
td{
    width : 60px;
    height : 30px;
    text-align:center
}
span{
    font:italic bold 13px Georgia;
}
/*2021자료를 강조하는 스타일*/
td:nth-child(5){
    background-color: slateblue;
    color: cornsilk;
} 
/* 엥커를 이용하여 각 영역을 스타일 적용*/
#month{
    
            background-color: rgb(200, 213, 224);
            text-align: center;
            margin-top: 5px;
            margin-bottom: 5px;
            width: 60px;
            font-weight:bold;
}
#dataBox {
    width:210px;
    height:110px;
}
#Data{
    text-align: right;
}
#longdataBox{
    width: 230px;
    height:120px;
}
#title{
    color:darkblue;
    font-size: 17;
}
/*버튼스타일 구현*/
/*항상 버튼이 떠있도록 하기 위해서 버튼의 위치를 고정*/
/*z-index로 항상 맨위에 떠있게 */
.goupbtn{
    top:90%;
    left:90%;
    width: 50px;
    height:50px;
    border-radius:10%;
    background-color:#ffffff;
    border: black 1px solid;
    position:fixed;
    z-index:2;
}
